//color schemes
//1
$styleNumber: '';
$colorMain: #f4ca59;
$colorMain2: #f26f1f;
$colorMain3: #82b440;
$colorMain4: #56d7fe;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;